@import "tailwindcss";

@theme {
  --font-sans: "Malgun Gothic", "Apple SD Gothic Neo", sans-serif;
}

:root {
  --dc-blue: #3b4890;
  --dc-light-blue: #f3f3f3;
  --dc-border: #d1d1d1;
}

body {
  background-color: #f4f4f4;
  /* DC Light Gray Body */
  color: #333;
  font-family: var(--font-sans);
  font-size: 14px;
}

.dc-container {
  background-color: white;
  border: 1px solid #ccc;
  min-height: 80vh;
}

.dc-btn {
  background-color: #3b4890;
  color: white;
  border: 1px solid #2b3875;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 2px;
}

.dc-btn:hover {
  background-color: #2d3870;
}